@import "tailwindcss";




/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}


/* arrow icon */
.heroSwiper .swiper-button-next::after,
.heroSwiper .swiper-button-prev::after {
  font-size: 16px;
  font-weight: 700;
}

/* push arrows slightly toward center */
.heroSwiper .swiper-button-prev {
  left: 60px;
}

.heroSwiper .swiper-button-next {
  right: 60px;
}


/* This cancels the browser's default autofill styling */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0px 1000px #0f172a inset !important;
  transition: background-color 5000s ease-in-out 0s;
}